// sass --watch assets/css/style.scss:assets/css/style.css

html,
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9;
}

.me{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    transition: .3s;

    .photo{
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px #fff solid;
            box-shadow: 0 1px 4px #ddd;
            transition: .3s;
        }
    }

    .socials{
        ul{
            padding: 0;
            margin: 0;
            width: 350px;
            display: inline-block;

            li{
                display: inline-block;

                &:first-child{
                    a{
                        border-left: 1px #ddd solid;
                    }
                }

                a{
                    color: #666;
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px 15px 7px 15px;
                    border: 1px #ddd solid;
                    border-left: none;
                    background-color: #fff;
                    width: calc(348px / 6);

                    &:hover{
                        color: #0275d8 !important;
                        background-color: #f9f9f9;
                    }

                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .me{
        width: 100%;
        padding: 0 25px;

        .photo{
            img{
                width: 150px;
                height: 150px;
            }
        }
    }

}