// sass --watch assets/css/style.scss:assets/css/style.css

html,
body {
    overflow-x: hidden;
    font-family: 'ABeeZee', sans-serif;
}

.header {
    background-color: #fafafc;
    position: relative;
}

.v-center {
    display: flex;
    align-items: center;
}

.text-name {
    color: #0c0b5d;
    font-weight: bold;
    font-size: 65px;
    font-family: 'Carter One', cursive;
}

.btn-green {
    background-color: #65b559;
    color: #fff;
    padding: 9px 25px;
    border-radius: 50px;
    outline: none;
    box-shadow: 0 2px 10px #65b559;
    transition: .3s;

    &:hover {
        box-shadow: none;
        color: #fff;
    }
}

.panel-rounded {
    background-color: #fff;
    padding: 15px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    border: 1px #ddd solid;
    border-radius: 50px;
    width: 80%;
    transform: translate(-50%, 0);
}

.avatar {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px #fff solid;
    box-shadow: 0 2px 4px #ddd;

    img {
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
}

.social {
    position: absolute;
    bottom: 17px;
    transition: .3s;

    li {
        list-style: none;
        display: inline-table;
        background-color: #fff;
        border-radius: 3px;
        border: 1px #f1f1f1 solid;
        

        a {
            color: #777;
            display: inline-block;
            padding: 7px 7px 4px 7px;
            transition: .3s;

            i {
                font-size: 22px;
            }

            &:hover {
                color: #0c0b5d !important;
            }
        }
    }
}

.skills{
    $border: 1px #ddd solid;

//     padding: 0;
//     margin: 0;
//     display: inline-block;
//     justify-content: space-around;
    border-top: $border;
    border-left: $border;
//   flex-direction: column;

//     li{
//         list-style: none;
//         border-bottom: $border;
//         border-right: $border;
//         padding: 15px;
//         display: inline-block;
//         text-align: center;
//         width: calc(100% / 5);
//         background-color: #fff;
//         flex: 1;
//     }
 .col{
    border-bottom: $border;
        border-right: $border;

    
     .item{
         text-align: center;

         img{
             display: inline-block;
            //  width: 50px;
             height: 50px;
             object-fit: cover;
         }
     }
 }
}

.section-3{
    background-color: #f5f5f5;

    .list-testimonial{
        .client{
            width: 300px;
            margin: 5px;

            img{
                width: 100%;
            }

            border: 1px #ddd solid;
            background-color: #fff;
        }
    }
}

.footer{
    background-color: #f5f5f5;
    text-align: center;
    padding: 45px 0;

    .square{
        border: 1px #ccc solid;
        width: 45px; height: 45px;
        display: inline-block;
        margin: 30px 0;
        transform: rotate(45deg);
        background-color: #fff;
        border-radius: 5px;
       
    }

}

@media only screen and (max-width: 575px) {
    .social{
        left: 50%;
        bottom: -20px;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
    }

    // .skills{
    //     padding: 0;
    //     margin: 0;
    //     display: block;
    //     justify-content: space-around;
    
    //     li{
    //         list-style: none;
    //         display: inline-block;
    //         text-align: center;
    //         width: calc(100% / 3);
    //     }
    // }
}